.DS_Store

cvars.ini
cvar_defaults.ini

/.vscode/**
!/.vscode/c_cpp_properties.json
!/.vscode/ff.code-snippets
!/.vscode/BrickGame.code-snippets
!/.vscode/launch.json
!/.vscode/tasks.json
!/.vscode/extensions.json

/.vs/*
CMakeSettings.json

/.clangd/**
/.cache/**

/build
/build-release
/build-ios
/xcbuild
/vsbuild
/ff-ios/build*
/out

/platform/macOS/build

deps/*
!deps/CMakeLists.txt
!deps/cmake/
!deps/stb/
!deps/cgltf/

/Assets/bin
/Assets/.bin
/Assets/.obj
/Assets/.ninja_deps
/Assets/.ninja_log

node_modules
compile_commands.json

cmake-build-debug/

.idea/

ff-android/app/src/main/assets
ff-android/app/release/

.vim/coc-settings.json

imgui.ini
